<div class="movie-full">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<a href="#" onclick="history.back()" class="btn btn-default">
					<i class="glyphicon glyphicon-th"></i> Назад
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h1>{{model.title}} / {{model.original_title}} ({{release-year model.release_date}})</h1>
			</div>
			<div class="col-md-2">
				<span class="movie-full__rating">
					<i class="glyphicon glyphicon-star"></i> 
					{{model.vote_average}}
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img src="http://image.tmdb.org/t/p/w500{{model.poster_path}}" 
				alt="{{model.title}}" class="img-responsive"/>
			</div>
			<div class="col-md-8">
				<div class="movie-full__info">
					<dl>
						<dt>Релиз:</dt>
						<dd>{{format-date model.release_date}}</dd>

						<dt>Жанры:</dt>
						<dd class="comma-list">
							{{#each model.genres as |genre|}}
								<span>{{genre.name}}</span>
							{{/each}}
						</dd>

						<dt>IMDB</dt>
						<dd><a href="http://www.imdb.com/title/{{model.imdb_id}}/" target="_blank">Перейти</a></dd>
					</dl>
					<dl>
						<dt>Оригинальное название</dt>
						<dd>{{model.original_title}}</dd>

						<dt>Язык оригинала:</dt>
						<dd>{{model.original_language}}</dd>

						<dt>Страны:</dt>
						<dd class="comma-list">
							{{#each model.production_countries as |country|}}
								<span>{{country.name}}</span>
							{{/each}}
						</dd>
					</dl>									
				</div>
				{{#if model.overview}}
					<div class="movie-full__about">
						<h3>О фильме</h3>
						{{model.overview}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{outlet}}
