<div class="container filters">
	<div class="row">
		<div class="col-md-12">
			<a href="#" class="filters__link" {{action "showFilters"}}>
			<i class="glyphicon glyphicon-filter"></i>
			Показать фильтры</a>
		</div>
	</div>
	<div class="row filters__body">
		<div class="col-md-3">
			<label for="genres">Жанры:</label>
			{{view "select" 
				content=model.genre 
				optionValuePath="content.id"
       			optionLabelPath="content.name"
       			prompt="Выберите жанр"
       			selection=selectedGenre
				actions="selectGenre"
				value=genre
       		}}
		</div>
		<div class="col-md-3">
				{{#link-to 'search' (query-params genre="null") class="filters__link"}}
					<i class="glyphicon glyphicon-remove"></i> Сбросить фильтры
				{{/link-to}}
		</div>
	</div>
</div>

<div class="container movies">
	{{#if model.search}}
		<div class="row">
			<div class="col-md-12">
				По запросу <b>{{query}}</b> найдены фильмы:
			</div>
		</div>
	{{/if}}
	<div class="row">
		{{#each model.search as |movie|}}
				<div class="movies__item {{genre-class movie.genre_ids}}">
					
					<div class="movies__item-inner" style="{{poster-bg movie.poster_path}}">
						<div class="movies__item-adding">
						{{#if movie.release_date}}
							<ul class="movies__item-info">
								<li>{{release-year movie.release_date}}</li>
							</ul>
						{{/if}}
						</div>
						{{#link-to 'movie' movie.id class="movies__item-link"}}
							<div class="movies__item-description">
								<h3>{{movie.title}}</h3>	
							</div>
						{{/link-to}}
					</div>
				</div>
		{{else}}
			<div class="col-md-12 text-center">
				Ни одного фильма по вашему запросу найдено не было :(
			</div>
		{{/each}}
		{{#if hasMore}}
		  <button type="button" class="btn btn-lg load-more-btn" {{bind-attr disabled=loadingMore}} {{action "loadMore"}}>
		    {{#if loadingMore}}
		      	<div class="loader">
					<i class="glyphicon glyphicon-refresh loader__icon"></i>
				</div>
		    {{else}}
		      Показать еще
		    {{/if}}
		  </button>
		{{/if}}
	</div>
</div>

